.produto_edit {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 8px;
}

.produto_campo{
    display: grid;
    grid-template-columns: 25% 1fr;
    padding-left: 8px;
}

.produto_label{
    font-size: 14px;
    font-weight: 600;
}

.produ_container {
    /*background-color: #fff;*/
    padding: 20px 0 30px 40px;
    width: 800px;
    margin: 80px 170px;
}

.editar-btn {
    width: 30%;
    align-self: flex-end;
    padding: 5px 0 5px;
}