.produto_container{
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.produto_container h1 {
    width: 1095px;
    font-weight: 500;
    font-size:large 20px;
    /*color: rgb(64, 64, 64);
    background-color: rgba(189, 189, 189, 0.949);*/
    text-align: center;
}

.produto_card_container {
    width: 1093px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    border-radius: 2px;
}

.produto_card_container p {
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.card {
    /*background: rgb(255, 240, 243);*/
    font-weight: 700;
    text-transform: uppercase;
}

.card input {
    width: 150%;
    position: absolute;
    height: 15px;
}

.btn_prod {
    width: 70%;
    position: absolute;
    bottom: 8px;
    font-weight: 500;
}