.inicio_container{
    /*background: linear-gradient(72deg, #f0fcee 1%, #ffacac 99%);*/
    padding-top: 4px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64%;
    border: none;
    background: none;
    overflow: auto;
}

img {
    border-radius: 50%;
    cursor: pointer;
    margin-right: 50px;
}

@media only screen and (max-width: 1320px){
    .center {
        width: 62%;
    }
    .inicio_container{
        padding-top: 10px;
    }
  }

@media only screen and (max-width: 1280px){
    .center {
        width: 63%;
    }
    .inicio_container{
        padding-top: 12px;
    }
  }

@media only screen and (max-width: 1260px){
    .center {
        width: 64%;
    }
    .inicio_container{
        padding-top: 16px;
    }
  }
  
@media only screen and (max-width: 1200px){
    .center {
        width: 65%;
    }
    .inicio_container{
        padding-top: 18px;
    }
  }

@media only screen and (max-width: 1160px){
    .center {
        width: 66%;
    }
    .inicio_container{
        padding-top: 23px;
    }
  }

@media only screen and (max-width: 1120px){
    .center {
        width: 67%;
    }
    .inicio_container{
        padding-top: 29px;
    }
  }

@media only screen and (max-width: 1070px){
    .center {
        width: 68%;
    }
    .inicio_container{
        padding-top: 32px;
    }
  }

@media only screen and (max-width: 1020px){
    .center {
        width: 70%;
    }
    .inicio_container{
        padding-top: 33px;
    }
  }

@media only screen and (max-width: 980px){
    .center {
        width: 71%;
    }
    .inicio_container{
        padding-top: 41px;
    }
  }

@media only screen and (max-width: 950px){
    .center {
        width: 72%;
    }
    .inicio_container{
        padding-top: 46px;
    }
  }

@media only screen and (max-width: 920px){
    .center {
        width: 71%;
    }
    .inicio_container{
        padding: 36px 0;
    }
  }

  @media only screen and (max-width: 890px){
    .center {
        width: 72%;
    }
    .inicio_container{
        padding: 38px 0 39px 0;
    }
  }
  
  @media only screen and (max-width: 850px){
    .center {
        width: 79%;
    }
    .inicio_container{
        padding: 40px;
    }
  }
 
  @media only screen and (max-width: 820px){
    .center {
        width: 84%;
    }
    .inicio_container{
        padding: 44px;
    }
  }
  
  @media only screen and (max-width: 800px){
    .center {
        width: 85%;
    }
    .inicio_container{
        padding: 53px;
    }
  }
 
  @media only screen and (max-width: 770px){
    .center {
        width: 89%;
    }
    .inicio_container{
        padding: 30px;
    }
  }
  
  @media only screen and (max-width: 767px){
    .center {
        width: 75%;
    }
    .inicio_container{
        padding: 35px;
    }
  }
  
  @media only screen and (max-width: 740px){
    .center {
        width: 76%;
    }
    .inicio_container{
        padding: 41px;
    }
  }