@import '~antd/dist/antd.css';

*{
  color: none;
}

.main {
  height: 100vh;
}

.main_content {
  height: inherit;
}

.header{
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 700;
}

.menu {
  background-color: #f7f7f7;
  padding: 16px;
}

.content {
  margin-right: 50px;
  overflow: auto;
  background-image: url(./pages/assets/bgimg0.png);
  background-size: 500px;
}

.footer{
  background-color: #f7f7f7;
  text-align: center;
  font-weight: 600;
}

.menu_section{
  background-color: #f7f7f7;
}

.menu_section p{
  margin-top: 480px;
  margin-bottom: 0;
}