@import '~antd/dist/antd.css';

*{
  color: none;
}

.main {
  height: 100vh;
}

.main_content {
  height: inherit;
}

.header{
  text-align: center;
  /*background-color: #f7f7f7;*/
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
}

/*.menu {
  background-color: #f7f7f7;
}*/

.content {
  overflow: auto;
  /*background-image: url(./pages/assets/bgimg.png);*/
  background-size: 500px;
}

.footer{
  /*background-color: #f7f7f7;*/
  text-align: center;
  font-weight: 600;
}

/*.menu_section{
  background-color: #f7f7f7;
}*/

.menu_section .git, .menu_section .text_git {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 15px;
  /*color: #9e4343;*/
}

.menu_section .btn_menu{
  padding: 11px 12px;
  border-radius: 20px;
  font-family: Cambria;
  font-size: 12px;
  font-weight: 520;
  /*background:rgb(255, 207, 207);
  border: 2px solid rgb(143, 33, 33);*/
  cursor: pointer;
}


/* @MEDIA */

@media only screen and (max-width: 1800px){
  .menu_section .btn_menu{
    margin: 275px 0 0 20px;
  }
}

@media only screen and (max-width: 414px){
  .menu_section .btn_menu{
    margin: 520px 0 0 20px;
  }
}

@media only screen and (max-width: 393px){
  .menu_section .btn_menu{
    margin: 470px 0 0 20px;
  }
}

@media only screen and (max-width: 375px){
  .menu_section .btn_menu{
    margin: 293px 0 0 20px;
  }
}

@media only screen and (max-width: 360px){
  .menu_section .btn_menu{
    margin: 375px 0 0 20px;
  }
}

@media only screen and (max-width: 280px){
  .menu_section .btn_menu{
    margin: 275px 0 0 20px;
  }
  .header {
    font-size: 13px;
  }
}