.produto_container {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.produto_card_container_det {
    padding: 10px 380px 0 370px;
}

.produto_card_container_det p {
    margin-bottom: 30px;
}

.produto_card_actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_excluir, .btn_det_edit {
    font-weight: 400;
}

/* @MEDIA */

@media only screen and (max-width: 1320px){
    .produto_card_container_det {
        padding: 0 350px 0 350px;
    }
  }

@media only screen and (max-width: 1260px){
    .produto_card_container_det {
        padding: 0 320px 0 320px;
    }
  }
  
@media only screen and (max-width: 1200px){
    .produto_card_container_det {
        padding: 0 300px 0 300px;
    }
  }

@media only screen and (max-width: 1160px){
    .produto_card_container_det {
        padding: 0 270px 0 280px;
    }
  }

@media only screen and (max-width: 1070px){
    .produto_card_container_det {
        padding: 0 240px 0 240px;
    }
  }
  
@media only screen and (max-width: 1024px){
    .produto_card_container_det {
        padding: 0 210px 0 210px;
    }
  }

@media only screen and (max-width: 980px){
    .produto_card_container_det {
        padding: 0 190px 0 190px;
    }
  }

@media only screen and (max-width: 920px){
    .produto_card_container_det {
        padding: 0 140px 0 140px;
    }
  }

@media only screen and (max-width: 890px){
    .produto_card_container_det {
        padding: 0 100px 0 100px;
    }
  }

@media only screen and (max-width: 560px){
    .produto_card_container_det {
        padding: 0 70px 0 70px;
    }
  }
  
  @media only screen and (max-width: 414px){
    .produto_card_container_det {
      padding: 0 10px 0 10px;
      margin-top: 150px;
      font-weight: 700;
    }
  }
  
  @media only screen and (max-width: 393px){
    .produto_card_container_det {
      padding: 0 10px 0 10px;
      margin-top: 100px;
    }
  }

  @media only screen and (max-width: 375px){
      .produto_card_container_det {
          margin-top: 20px;
      }
    }
  
  @media only screen and (max-width: 360px){
    .produto_card_container_det {
        padding: 0 10px 0 10px;
        margin-top: 40px;
    }
  }
  
  @media only screen and (max-width: 280px){
    .produto_card_container_det {
        padding: 0 10px 0 10px;
        margin-top: 0;
    }
  }