.produto_container{
    padding: 16px;
}

.produto_container h1 {
    font-size: 16px;
    font-weight: 600;
}

.form_produto {
    /*background-color: #fff;*/
    width: 850px;
    margin-left: 160px;
    margin-top: 70px;
    padding: 20px 30px 1px 30px;
    border-radius: 8px;
}


/* @MEDIA */

@media only screen and (max-width: 1280px){
    .form_produto {
        width: 750px;
        margin-left: 160px;
        margin-top: 40px;
    }
  }

@media only screen and (max-width: 1200px){
    .form_produto {
        width: 750px;
        margin-left: 100px;
        margin-top: 40px;
    }
  }

@media only screen and (max-width: 1120px){
    .form_produto {
        width: 750px;
        margin-left: 60px;
        margin-top: 40px;
    }
  }

@media only screen and (max-width: 1120px){
    .form_produto {
        width: 660px;
        margin-left: 60px;
        margin-top: 40px;
    }
    .btn_add {
        width: 100px;
        padding: 0;
    }
  }

@media only screen and (max-width: 950px){
    .form_produto {
        width: 660px;
        margin-left: 40px;
    }
  }

@media only screen and (max-width: 920px){
    .form_produto {
        width: 620px;
    }
  }

@media only screen and (max-width: 850px){
    .form_produto {
        width: 500px;
    }
  }

@media only screen and (max-width: 767px){
    .form_produto {
        width: 660px;
    }
  }

@media only screen and (max-width: 740px){
    .form_produto {
        margin-left: 20px;
    }
  }

  @media only screen and (max-width: 710px){
    .form_produto {
        width: 630px;
    }
  }
  
  @media only screen and (max-width: 670px){
    .form_produto {
        width: 590px;
    }
  }
  
  @media only screen and (max-width: 610px){
    .form_produto {
        width: 560px;
        margin-left: 2px;
    }
  }
  
  @media only screen and (max-width: 560px){
    .form_produto {
        width: 450px;
        padding: 8px;
        margin-top: 10px;
        margin-left: 25px;
    }
  }
  
  @media only screen and (max-width: 500px){
    .form_produto {
        width: 430px;
        margin-left: 15px;
    }
  }
  
  @media only screen and (max-width: 414px){
    .form_produto {
      width: 330px;
      margin-left: 25px;
      margin-top: 130px;
      padding: 0 8px;
      font-weight: 700;
    }
  }

  @media only screen and (max-width: 375px){
    .form_produto {
        width: 300px;
        margin-top: 30px;
        padding: 0 8px;
    }
  }
  
  @media only screen and (max-width: 360px){
    .form_produto {
        width: 300px;
        padding: 0 8px;
        margin-top: 50px;
        margin-left: 15px;
    }
  }
  
  @media only screen and (max-width: 280px){
    .form_produto {
        width: 240px;
        padding: 0 8px;
        margin-left: 6px;
        margin-top: 16px;
    }
  }